@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap');

@layer base {
  :root {
    --font-sans: 'Outfit', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }
}