/* Particles background styles */
.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: move-particle;
  pointer-events: none;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: overlay;
  background-image: radial-gradient(
    hsla(280, 100%, 70%, 0.8),
    hsla(280, 100%, 70%, 0.4) 10%,
    hsla(280, 100%, 70%, 0) 60%
  );
  animation: fade-frames 400ms infinite, scale-frames 3s infinite;
}

@keyframes fade-frames {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

@keyframes scale-frames {
  0% { transform: scale3d(0.4, 0.4, 1); }
  50% { transform: scale3d(2.2, 2.2, 1); }
  100% { transform: scale3d(0.4, 0.4, 1); }
}

@keyframes move-particle {
  from {
    transform: translate3d(var(--start-x), var(--start-y), 0);
  }
  to {
    transform: translate3d(var(--end-x), var(--end-y), 0);
  }
}
